    /* grid-template-columns: repeat(auto-fit, minmax 400px, 1fr)); */
    /* Pseudoselectores */
    
     :root {
        --blanco: #fff;
        /* Custom properties */
        --oscuro: #212121;
        --primario: #0734ff;
        --secundario: #06e0f8;
        --gris: #757575;
        --lightgrey: #909090;
        --fuente-principal: 3.8rem;
        --justify: justify;
    }
    
    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    /* *, *:before, *:after {
  box-sizing: inherit;
} */
    
    body {
        font-size: 16px;
        /* 1rem = 10px */
        font-family: "Krub", sans-serif;
        /* background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%); */
    }
    
    .nav-bg {
        background-color: var(--oscuro);
    }
    
    .navegacion-principal {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    
    .navegacion-principal a {
        display: block;
        text-align: center;
        color: var(--blanco);
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem;
    }
    
    .navegacion-principal a:hover {
        color: var(--oscuro);
        background-color: var(--primario);
    }
    /* Media Query para barra de navegacion*/
    
    @media (min-width: 768px) {
        .navegacion-principal {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    
    .main {
        padding: 2rem;
        margin: 1rem 5rem 1rem;
        /* le da 100 % de la vista */
        /* height: 100vh; */
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    }
    /* Media query para seccion principal main */
    
    @media (max-width: 700px) {
        .main {
            display: flex;
            flex-direction: column;
        }
    }
    
    @media (min-width:1250px) {
        .main {
            grid-template-columns: 1fr, 1fr, 1fr;
            grid-template-rows: 1fr, 1fr;
            grid-template-areas: "a1 a2 a3" "a4 a5 a6";
        }
    }
    
    .box {
        padding: 2rem;
        text-justify: var(--justify);
        text-align: var(--justify);
        border-radius: 2rem;
        margin: 1rem;
    }
    
    .boxHeaders {
        text-justify: center;
        text-align: center;
    }
    
    .task {
        grid-area: a1;
        background-color: red;
    }
    
    .bgyellowg {
        grid-area: a2;
        background-color: yellowgreen;
    }
    
    .bgyellow {
        grid-area: a3;
        background-color: yellow;
    }
    
    .templates {
        grid-area: a4;
        background-color: var(--secundario);
    }
    
    .repeticiones {
        grid-area: a5;
        background-color: sandybrown;
    }
    
    .updates {
        grid-area: a6;
        background-color: magenta;
    }
    /* seccion Tasks */
    
    .blank-row {
        height: 10rem;
        ;
    }
    
    .task-bg {
        display: flex;
        flex-direction: column;
        color: var(--blanco);
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
        border: 1rem solid white;
        border-radius: .5rem;
    }
    
    .reglon-task {
        display: block;
        text-align: center;
        background-color: var(--gris);
    }
    
    .reglon-task:hover {
        background-color: var(--lightgrey);
    }
    
    .nombre {
        grid-template-columns: 30rem;
    }
    
    @media (min-width: 700px) {
        .task-bg {
            display: grid;
            grid-gap: .3rem;
            grid-template-columns: repeat(auto-fit, 30rem);
            text-align: center;
        }
    }